@font-face {
  font-family: Marker;
  src: url(../fonts/Permanent_marker.ttf);
}

@font-face {
  font-family: Saucer;
  src: url(../fonts/SaucerBB.ttf);
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
}

header {
  font-family: Saucer;
  text-align: center;
  font-size: 2vw;

  color: #20202b;
}

.wrong_guesses_container {
  border: 0.3vw solid #20202b;

  position: absolute;
  left: 3vw;
  top: 13.125vw;

  width: 20vw;
  height: 18.75vw;
}
  .wrong_guesses_container > h2 {
    font-size: 1.75vw;
    margin-top: 1vw;
    margin-left: 1vw;
  }
  #wrong_guesses {
    word-break: break-word;
    margin-left: 2vw;
    letter-spacing: 1vw;
    text-align: center;
    font-size: 1.5vw;
  }

.hang_stand {
  border: 0.3vw solid #20202b;

  position: absolute;
  top: 10vw;

  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;

  width: 45vw;
  height: 25vw;
}
  .hang_stand > img {
    position: absolute;
    height: 20vw;
    top: -1vw;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  #current_word {
    margin-top: 18vw;
    margin-left: auto;
    margin-right: auto;
    bottom: 1vw;
    font-size: 4vw;
    letter-spacing: 0.75vw;
  }

.guess_container {
  position: absolute;
  top: 37vw;

  display: flex;
  align-items: center;

  font-size: 2vw;
}

input{
  cursor: text;

  width: 15vw;
  height: 3vw;

  border: 0.25vw solid grey;
  border-radius: 1vw;
  
  text-align: center;
  transition: 0.25s ease-in-out;

  font-size: 1.5vw;
}
  input:focus{
    outline: none;
    border-color: dodgerblue;
    box-shadow: 0 0 0.25vw 0 dodgerblue;
    width: 5vw;
  }

#confirm_button {
  position: absolute;
  top: 41vw;

  cursor: pointer;

  text-align: center;
  text-decoration: none;
  display: block;

  background-color: lightgrey;
  outline: none;
  padding: 0.25vw 1vw;

  font-size: 1.5vw;
  border: 0.175vw solid #20202b;
  border-radius: 0.75vw;
}
  #confirm_button:hover {
    background-color: rgb(165, 163, 163);
    outline: none;
  }

.definition_container {
  border: 0.3vw solid #20202b;

  position: absolute;
  right: 3vw;
  top: 10vw;

  width: 20vw;
  height: 10vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
  .definition_container > h2 {
    position: absolute;
    left: 0.5vw;
    top: -1vw;
    
    font-size: 1.5vw;
  }
  .definition_container > p {
    font-size: 1.25vw;
    text-align: center;
  }

.score_container, .new_word {
  position: absolute;
  border: 0.3vw solid #20202b;
  width: 9.5vw;
  height: 9.5vw;
  
  top: 21vw;
  right: 3vw;
}

.score_container {
  right: 13.5vw;
}
  .score_container > h2 {
    position: absolute;
    left: 0.5vw;
    top: -1vw;
    
    font-size: 1.5vw;
  }
  #player_score {
    text-align: center;
    font-size: 3vw;
    font-weight: bold;

  }

.new_word > button{
  width: 9.5vw;
  height: 9.5vw;
  font-size: 2vw;

  cursor: pointer;

  background-color: lightblue;
}
.new_word > button:hover {
  background-color: skyblue;
}

.lifeline_reveal, .lifeline_gambler {
  border: 0.3vw solid #20202b;
  background-color: lightgrey;

  cursor: pointer;

  position: absolute;
  right: 13.5vw;
  top: 31.5vw;

  width: 9.5vw;
  height: 3.5vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
  .lifeline_reveal:hover, .lifeline_gambler:hover {
    background-color: darkgrey;
  }
  .lifeline_reveal:active, .lifeline_gambler:active {
    background-color: white;
  }

.lifeline_reveal > img {
  height: 3.5vw;
}

.lifeline_gambler > img {
  margin-top: 0.5vw;
  height: 5vw;
}

.lifeline_gambler {
  right: 3vw;
}


/*Link to button: https://codepen.io/bartekd/pen/qFsDf*/
#return_home {
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  left: 8.5vw;
  top: 27vw;
}

.button_base {
  margin: 0;
  border: 0;
  font-size: 1.25vw;
  width: 10vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-user-select: none;
  cursor: default;
}

.b08_3d_pushback {
  perspective: 500px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.b08_3d_pushback div {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  pointer-events: none;
  padding: 10px;
}

.b08_3d_pushback div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #20202b;
  background-color: #ffffff;
  border: 0.25vw solid #20202b;
  transform: rotateX(0deg) translateZ(0px);
  -webkit-transform: rotateX(0deg) translateZ(0px);
  -moz-transform: rotateX(0deg) translateZ(0px);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.b08_3d_pushback div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #20202b;
  transform: rotateX(-179.5deg) translateZ(1px);
  -webkit-transform: rotateX(-179.5deg) translateZ(1px);
  -moz-transform: rotateX(-179.5deg) translateZ(1px);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.b08_3d_pushback:hover div:nth-child(1) {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transform: rotateX(179.5deg);
  -webkit-transform: rotateX(179.5deg);
  -moz-transform: rotateX(179.5deg);
}

.b08_3d_pushback:hover div:nth-child(2) {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transform: rotateX(0deg) rotateY(0deg) translateZ(1px);
  -webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(1px);
  -moz-transform: rotateX(0deg) rotateY(0deg) translateZ(1px);
}


/*MODAL BOXES*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}