body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
}

.game_title {
  text-align: center;
  font-size: 3vw;
}

.wrong_guesses_container {
  border: 0.3vw solid black;

  position: absolute;
  left: 3vw;
  top: 13.125vw;

  width: 20vw;
  height: 18.75vw;
}
  .wrong_guesses_container > h2 {
    font-size: 1.75vw;
    margin-top: 1vw;
    margin-left: 1vw;
  }
  #wrong_guesses {
    word-break: break-word;
    margin-left: 2vw;
    letter-spacing: 1vw;
    text-align: center;
    font-size: 1.5vw;
  }

.hang_stand {
  border: 0.3vw solid black;

  position: absolute;
  top: 10vw;

  display: flex;
  align-items: center;

  width: 45vw;
  height: 25vw;
}
  .hang_stand > img {
    position: absolute;
    height: 20vw;
    top: -1vw;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  #current_word {
    margin-top: 18vw;
    margin-left: auto;
    margin-right: auto;
    bottom: 1vw;
    font-size: 4vw;
    letter-spacing: 0.75vw;
  }

.guess_container {
  position: absolute;
  top: 37vw;

  display: flex;
  align-items: center;

  font-size: 2vw;
}

input{
  width: 15vw;
  height: 3vw;

  border: 0.25vw solid grey;
  border-radius: 1vw;
  
  text-align: center;
  transition: 0.3s;

  font-size: 1.5vw;
}
input:focus{
  border-color: dodgerblue;
  box-shadow: 0 0 0.25vw 0 dodgerblue;
}

.confirm_button {
  position: absolute;
  top: 41vw;

  display: flex;
  align-items: center;

  font-size: 1.5vw;
  border-radius: 0.5vw;
}

.definition_container {
  border: 0.3vw solid black;

  position: absolute;
  right: 3vw;
  top: 10vw;

  width: 20vw;
  height: 10vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
  .definition_container > h2 {
    position: absolute;
    left: 0.5vw;
    top: -1vw;
    
    font-size: 1.5vw;
  }
  .definition_container > p {
    font-size: 1.25vw;
    text-align: center;
  }

.score_container, .new_word {
  position: absolute;
  border: 0.3vw solid black;
  width: 9.5vw;
  height: 9.5vw;
  
  top: 21vw;
  right: 3vw;
}

.score_container {
  right: 13.5vw;
}
  .score_container > h2 {
    position: absolute;
    left: 0.5vw;
    top: -1vw;
    
    font-size: 1.5vw;
  }

  #player_score {
    text-align: center;
    font-size: 3vw;
    font-weight: bold;

  }

.new_word > button{
  width: 9.5vw;
  height: 9.5vw;
  font-size: 2vw;
}

.success_container {
  border: 0.3vw solid black;

  position: absolute;
  right: 3vw;
  top: 31.5vw;

  width: 20vw;
  height: 3.5vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
